Masking required?

I have read recently a lot about the WebSocket protocol intrinsics.
It includes a MASKING mechanism to prevent malicious webpages from smuggling HTTP syntax into the WebSocket frames, which can exploit suboptimal proxies.
I am wondering if such an attack is also possible with the capsule protocol.
Is it safe since it runs over http/2 (enforced with the SETTINGS)?
But on the other hand, RFC 8441Section 10 leaves RFC 6455 Section 10.3 untouched.
Maybe this was discussed before, and I did not find it in the issues.

Ok I found 
```
WebTransport over HTTP/2 requires explicit opt-in through the use of
   HTTP SETTINGS; this avoids potential protocol confusion attacks by
   ensuring the HTTP/2 server explicitly supports it.  It also requires
   the use of the Origin header, providing the server with the ability
   to deny access to Web-based clients that do not originate from a
   trusted origin.
```
that means, a HTTP/1 variant would be vulnerabale. However than I wonder why it was left in force in RFC 8841.

Editor's meeting: We're not currently defining WebTransport over HTTP/1, although when we do so, we could require HTTPS for use with WebTransport.

HTTP/2 and HTTP/3 are only able to run via encrypted transports, which is sufficient for POST requests, and we think that means it's also sufficient for the Extended CONNECT request here.

That said, this is certainly something that, if we advance the effort for H1, we'll want to keep in mind.

Thanks, that is what I expected. I was just puzzled that RFC 8441 did not remove the masking requirement for http/2.

I think the history there is that RFC 8441 was intended to be the smallest possible change to make WebSocket work over h2. Removing masking would have been a good feature, but they decided it wasn't critical.